<script lang="ts">
	// import './styles.css';
	import { AppBar } from '@skeletonlabs/skeleton';
</script>

<div>
	<AppBar>
		<h3 class="h3">Attention Guard</h3>
	</AppBar>
	<main>
		<slot />
	</main>
</div>
