<script lang="ts">
	import { Modal, initializeStores, getModalStore } from '@skeletonlabs/skeleton';
	import type { ModalSettings, ModalComponent } from '@skeletonlabs/skeleton';
	import '../app.css';
	import Loading from './loading.svelte';
	import Result from './result.svelte';
	import axios, { HttpStatusCode } from 'axios';

	initializeStores();
	const modalStore = getModalStore();

	const resultModal: ModalSettings = {
		type: 'component',
		component: 'result'
	};

	let input = '';
	let tokens;

	function closeModal() {
		modalStore.close();
	}

	async function handleButtonClick() {
		console.log(input);

		const loadingComponent: ModalComponent = {
			ref: Loading
		};
		const modal: ModalSettings = {
			type: 'component',
			component: loadingComponent
		};
		modalStore.trigger(modal);
		try {
			const res = await axios.post('http://localhost:8000/result', {
				text: input.toString()
			});

			modalStore.clear();

			const resultComponent: ModalComponent = {
				ref: Result,
				props: {
					input: input,
					tokens: res.data.data.tokens,
					prediction: res.data.data.prediction,
				}
			};
			modal.component = resultComponent;
			modalStore.trigger(modal);
		} catch (error) {
			modalStore.close();
			modalStore.clear();
		}
	}
</script>

<h1 class="h1 text-center my-10">Relato de siniestro</h1>

<div class="grid content-center justify-items-center gap-10">
	<textarea bind:value={input} class="textarea w-1/2" rows="8" />
	<div>
		<button class="variant-ghost-tertiary btn" on:click={handleButtonClick}>Analizar</button>
	</div>
</div>
<Modal class="h-screen" />
