<script lang="ts">
	import { onMount } from 'svelte';
	import axios from 'axios';

	import '../app.css';

	export let tokens = [['hola', 0.2]];

	export let input =
		'Iba en carretera se me cruza un perro, un camión iba al lado. No tuve más que hacer que golpear con el perro. Posteriormente a eso, el vehículo arroja errores y bota líquido.';
	let buttonClicked = false;

	let inputFromApi = '';
	export let prediction = 0;

	function handleButtonClick() {
		buttonClicked = true;
	}

	onMount(async () => {
		//await fetchInputFromApi();
		console.log(prediction);
		console.log(input);
		console.log(tokens);
	});

	let state = {
		isHidden: false
	};

	// var final: [[String, Number]];
	function preProcces() {
		let index = 0;
		let final = [];
		input.split(' ').forEach((word) => {
			let didBreak = false;
			console.log(word);
			for (; index < tokens.length; index++) {
				if (tokens[index][0] === word) {
					final.push([word, parseFloat(tokens[index][1].toString())]);
					didBreak = true;
					break;
				}
			}
			if (!didBreak) {
				final.push([word, parseFloat('0')]);
				index = 0;
			}
		});

		return final;
	}
	function toggleHidden() {
		state.isHidden = !state.isHidden;
	}
	const max_token = Math.max(...tokens.map((token) => parseFloat(token[1].toString())));
</script>

<div class="card w-3/4">
	<header class="card-header">
		<h1 class="h1 text-center">Atención</h1>
	</header>

	<section class="grid p-4">
		<div class="w-3/4 justify-self-center">
			<p>
				{#each preProcces() as token}
					{#if parseFloat(token[1].toString()) > 0}
						<b
							class="text-white"
							style="background-color: rgba(255, 0, 0, {parseFloat(token[1].toString()) /
								max_token});"
						>
							{token[0]}
						</b>
						<b />
					{:else}
						{token[0]}
						<b />
					{/if}
				{/each}
			</p>
		</div>
	</section>

	<footer class="card-footer text-center">
		<button class="variant-ghost-tertiary btn" on:click={toggleHidden}>Ver predicción</button>

		<div class="text-white m-4 grid justify-center" class:hidden={!state.isHidden}>
				{#if prediction < 0.5}
					<div class="variant-filled-tertiary text-xl w-max p-4">No fraude: {Math.trunc((1-prediction)*100)}% de probabilidad</div>	
				{:else if prediction >= 0.5}
					<div class="variant-filled-error text-xl w-max p-4">Fraude: {Math.trunc(prediction*100)}% de probabilidad</div>
				{/if}
		</div>
	</footer>
</div>
